apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: alertmanager-secrets
  namespace: monitoring
  annotations:
    argocd.argoproj.io/hook: Skip
  labels:
    env: dev
    helmStack: prometheus
    managed-by: manual
data:
  alertmanager_telegram_bot_token: 123
